:root {
  --width-height-tagCard-box: 9.375rem;
  --secondary-black: #262626;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MuiSlider-thumb {
  color: #1B1B1B;
  box-shadow: none !important;
  border: #FFD05D .375rem solid;
}

.MuiSlider-thumb::before {
  box-shadow: none !important;
}

.MuiSlider-thumb:hover {
  box-shadow: none !important;
}

.MuiSlider-rail {
  color:#FFFFFF;
  padding: .25rem 0;
}

.MuiSlider-track {
  background: linear-gradient(90deg, rgba(255,92,1,1) 0%, rgba(255,210,95,1) 100%);
  padding: .25rem 0;
}

.css-1aznpnh-MuiSlider-root {
  color: #181818 !important;
}

.MuiSlider-mark {
  background-color: unset !important;
}

.MuiSlider-markLabel { 
  color: #FFFFFF !important;
  opacity: 0.5;
  font-family: 'Ubuntu' !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  line-height: 150% !important;
  letter-spacing: 0.15px;
}

.MuiSlider-markLabelActive {
  color: #FFFFFF !important;
  opacity: 1;
  font-family: 'Ubuntu' !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  line-height: 150% !important;
  letter-spacing: 0.15px;
}

.TagCard-container {
  min-width: var(--width-height-tagCard-box);
  width: calc(100% / var(--width-height-tagCard-box));
  height: fit-content;
  margin: 1.125rem .75rem;
}

.TagCard-text {
  text-align: left;
  margin: .375rem .75rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 150%;
  letter-spacing: 0.015625rem;
}

.TagCard-textBox {
  width: 85%; 
  bottom: .875rem;
  left: .625rem;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  border-width: 4px;
  border-radius: 0.375rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  line-height: 2.25rem;
  position: absolute;
}

.TagCard-textName {
  width: 9.375rem;
  /* font-family: 'Ubuntu'; */
  font-style: normal;
  font-weight: 400;
  font-size: .93125rem;
  line-height: 150%;
  letter-spacing: .0087305rem;
}

.TagCard-textSubName {
  font-style: normal;
  font-weight: 400;
  font-size: .6984375rem;
  line-height: 150%;
  letter-spacing: .02328125rem;
  color: #B2B2B2;
}

.TagCard-textWrap {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.TagCard-Box {
  position: relative;
  width: var(--width-height-tagCard-box);
  height: var(--width-height-tagCard-box);
  border-radius: .625rem;
  background-color: var(--secondary-black);
}